.desayuno{
    background-color: #EAB0EB;
    width: 75%;
}

.frutasyverduras {
    background-color: #FFD3BA;
    width: 75%;
}
.proteinas{
    background-color: #ACBEFA;
    width: 75%;
}
.carbohidratos{
    background-color: #B5E6D0;
    width: 75%;
}
.colaciones{
    background-color: #F4FAC3;
    width: 75%;
}
.higiene{
    background-color: #D3B8E9;
    width: 75%;
}

.aseo{
    background-color: #FFE9D1;
    width: 75%;
}
.mascota{
    background-color: #C4E4FB;
    width: 75%;
}

.bebestible{
    background-color:#E3E3FF;
    width: 75%;
}

