
.container{
    background-color: #f1f2f7;
}
.categoria{
    background-color: #F9B4B8;
    margin-bottom: 10px;
    padding: 1em 2em;
    border-radius: 10px;
    
}
header {
    background-image: url(./header-image.png);
    height: 400px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.card{
    border: 0ch;
}

.nombre-producto{
    font-size: smaller;
    padding-top: 10px;
}

.nombre-cantidad{
    font-size: smaller;
    padding-top: 10px;
}

.boton {
    
    width: 30px;
    height: 30px;
}

.edit {
    
    font-size: x-small;
    
    
}

.delete {
    
    
    font-size: x-small;

}